@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00dc93;
  --sidebar-index: 1000;
  --navbar-index: 999;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
}

:not(h1, h2, h3, h4, h5, h6, p, pre) {
  user-select: none;
}
